name: continuous integration

on:
  push:
    branches:
      - main
jobs:
  integration:
    runs-on: ubuntu-latest
    name: Continuous Integration

    steps:
      -   name: Checkout
          uses: actions/checkout@v4

      -   name: Set up JDK 21
          uses: actions/setup-java@v2
          with:
            java-version: 21
            distribution: 'adopt'

      -   name: Run Build
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: ./gradlew build
